html {
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
  list-style-type: none;
  padding-bottom: .1em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Georgia, sans-serif;
}

.links {
  margin: .3em;
  padding: 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  padding: 0 1em;
}

header {
  background-color: #ffe500;
  padding-bottom: .1em;
}

h1 {
  color: #b20953;
  font-family: "Sigmar One", sans-serif;
  font-size: 3rem;
  margin: 0;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One", sans-serif;
  font-size: 1.875rem;
  padding-left: .5em;
  text-align: left;
}

p {
  text-align: left;
  padding-left: .5em;
}

footer {
  background-color: #ffe500;
  font-size: .875rem;
  color: #2f2d13;
  padding: .75em;
}

.text {
  background-color: #fff;
}

.links .current {
  background-color: #b20953;
}

.links a {
  font-size: 1.125rem;
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

.links li {
  display: inline-block;
  max-width: 20em;
}

a:hover {
  background-color: #cc1465;
}
